@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,600;1,300;1,600&display=swap');

:root {
  /* font-family: 'Roboto Mono', Courier, monospace; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --header-type: 'Durer Regular', Helvetica, Arial, sans-serif;
  --text-type: Helvetica, Arial, sans-serif;
  --info-color: #000;
  --txt-shadow: 0 0 10px rgb(69, 69, 69);
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
* {  
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
::selection {
  background: rgba(79, 79, 79, 0.7);
  color: #eee;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 801px) {
  :root {
    --h1-size: 4.6em;
    --h3-size: 2.2em;
    --text-size: 1.8em;
    --btn-padding: 60px;
    --info-width: 750px;
    --about-height: 690px;
    --contact-height: 120px;
    --video-width: 608px;
    --constainer-height: calc(100dvh - 25px);
  }
}

@media (min-width: 501px) and (max-width: 900px) {
  :root {
    --h1-size: 3.08em;
    --h3-size: 1.6em;
    --text-size: 1.4em;
    --btn-padding: 35px;
    --info-width: 500px;
    --about-height: 630px;
    --contact-height: 210px;
    --video-width: 410px;
    --constainer-height: calc(100dvh - 25px);
  }
}

@media (max-width: 500px) {
  :root {
    --h1-size: 2.1em;
    --h3-size: 1.5em;
    --text-size: 1.05em;
    --btn-padding: 18px;
    --info-width: 340px;
    --about-height: 505px;
    --contact-height: 135px;
    --video-width: 280px;
    --constainer-height: 100dvh;
  }
}

.react-pdf__message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  font-family: sans-serif;
}
/* .react-pdf__Page {
  margin-bottom: 20px;
  border-bottom: 1px solid teal;
} */