@font-face {
  font-family: 'Durer Regular';
  src:
    url('../assets/durer/durer-webfont.woff2') format('woff2'),
    url('../assets/durer/durer-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.info {
  position: absolute;
  width: var(--info-width);
  z-index: 5;
  color: var(--info-color);
}
.info h1 {
  font-size: var(--h1-size);
  font-family: var(--header-type);
  border-bottom: 1px solid var(--info-color);
  padding-bottom: 10px;
  text-align: center;
  /* mix-blend-mode: difference; */
  text-shadow: var(--txt-shadow);
}
.infobuttons {
  display: flex;
  justify-content: space-around;
}
.infobuttons button {
  font-size: var(--h3-size);
  font-family: var(--header-type);
  width: 100px;
  line-height: 1.2em;
  color: var(--info-color);
  text-shadow: var(--txt-shadow);
}


/* --- VIDEO --- */
.videoContainer {
  position: absolute;
  width: var(--video-width);
  /* height: 495px; */
  z-index: 3;
}
.videoContainer video {
  clip-path: inset(2px 2px);
}

/* ---- PDF ---- */
.pdfcontainer {
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.pdfcontainer button {
  position: absolute;
  right: calc(var(--btn-padding) + 10px);
  top: var(--btn-padding);
  font-size: var(--h3-size);
  background-color: #ffffff80;
  padding: 0 0.5rem;
  border: 1px dotted black;
}
.pdfcontainer iframe {
  width: 100%;
  height: 100%;
}